{{define "index-user"}}
<html>
  <head>
    <title>Commune</title>
      <meta name="description" content="Turn on, tune in, drop out.">
    {{template "common-head" .}}
  <link rel="stylesheet" href="{{ InsertCSS "index" }}" as="style">
  <link rel="stylesheet" href="{{ InsertCSS "highlightjs" }}" as="style">


  </head>
  <body>
<script nonce={{.Nonce}}>
    let theme = localStorage.getItem('theme')
    if(theme) {
        switch (theme) {
            case "light":
                document.documentElement.classList.add('light')
            break;
            case "black":
                document.documentElement.classList.add('black')
            break;
            case "sync":
                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.classList.remove('light')
                } else { 
                    document.documentElement.classList.add('light')
                }
        }
    }
    let saturation = localStorage.getItem('saturation')
    if(saturation && saturation < 100) {
        document.documentElement.style.filter = `saturate(${saturation/100})`
    }

</script>
    <div class="root app">

        <div class="gr-center fl-co">
            <div class="spinner gr-center"></div>
            <div class="loading-message pa3 center">
                Calibrating...
            </div>
        </div>


      {{template "state" .}}



  <script defer nonce={{.Nonce}} type="module"
      src="/static/vendor/olm-3.2.1.js"></script>
  <script defer nonce={{.Nonce}} type="module"
      src="/static/vendor/browser-matrix-15.4.0.min.js"></script>
  <script defer nonce={{.Nonce}} type="module" src="{{ InsertJS "default" }}"></script>
  <script defer nonce={{.Nonce}} type="module" src="{{ InsertJS "app" }}"></script>

    </div>
  </body>
</html>
{{end}}
